---
import { HeroSlider1, HeroSlider3 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout
    title="A la Carta | INICIO"
    description="A la Carta | INICIO"
>
    <main class="page-content">
        <Hero
            client:load
            heroType="fullPageSlider"
            data={[
                {
                    subtitle: "VIVE TU EXPERIENCIA AL MAXIMO",
                    title: "PACK PERSONALIZADO",
                    background: HeroSlider1.src,
                    paragraph:
                        "CREA TU PAQUETE PERSONALIZADO Y VIVE TU EXPERIENCIA AL MAXIMO.",
                    button: {
                        text: "CREAR PAQUETE PERSONALIZADO",
                        link: "https://codexcode.store/themes/cybernetic-website-template",
                    },
                },
                {
                    subtitle: "CONOCE CADA RINCÓN DE VILLANUEVA DEL ARZOBISPO",
                    title: "TURISMO",
                    background: HeroSlider3.src,
                    paragraph: "CONOCE TODOS LOS SECRETOS DE VILLANUEVA DEL ARZOBISPO.",
                    button: {
                        text: "CONOCER",
                        link: "/tourims",
                    },
                },
            ]}
        />
    </main>
    <div class="information-container">
        <div class="container">
           
        </div>


    </div>
</Layout>
